html {
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.1em;
    font-size: 12px;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    color: #17252a;
    letter-spacing: 0;
}
h1 {
    font-size: 40px;
}
h2 {
    font-size: 32px;
}
h3 {
    font-size: 25px;
}
h4 {
    font-size: 18px;
}
h5 {
    font-size: 16px;
}
h6 {
    font-size: 14px;
}
p {
    font-size: 16px;
}
.container h2 {
    font-size: 36px;
}
.navbar--btn {
    font-size: 16px;
    color: white;
}
.navbar h1 {
    font-size: 34px;
    color: white;
}
.dscript {
    font-size: 18px;
    font-weight: 600;
}
.word {
    font-size: 18px;
}
.example {
    font-weight: 600;
    font-size: 20px;
}
.btn {
    color: white;
    font-size: 20px;
    font-weight: 600;
}
.btn:hover {
    color: black;
    background-color: white;
    transition: 0.8s;
}
.btn--transparent {
    color: #2a2a2b;
}
.btn--invisible {
    color: white;
}
.caption {
    font-size: 20px;
    color: rgba(0, 0, 0, 0);
}
figure a:hover .caption {
    color: white;
    transition: 0.8s;
}
figure a .caption {
    transition: 0.8s;
}
.list {
    font-size: 18px;
}
.describtion {
    font-size: 20px;
}
blockquote {
    font-size: 20px;
    font-style: italic;
    font-weight: 600;

}
.quote figcaption {
    font-size: 16px;   
}
footer a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: 0.8s;
}
footer a:hover {
    color: rgb(150, 150, 150);
    transition: 0.8s;
}